.first-screen {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 8.33em 0;
    @media screen and (max-height: 949px) {
        padding-bottom: 15.8vh;
    }
    @media screen and (max-width: 549px) {
        padding-top: 100px;
        padding-bottom: 60px !important;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('first-screen-bg.webp') 65% center/cover no-repeat;
        z-index: -1;
    }
    &__content {
        max-width: 43.33em;
    }
    &__title {
        font-size: 2.67em;  // 48px
        font-weight: 700;
        margin-bottom: 80px;
        text-transform: uppercase;
        transition: .3s;
        @media screen and (max-height: 949px) {
            margin-bottom: 8.4vh;
        }
        @media screen and (max-width: 1280px) {
            font-size: 40px;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 40px !important;
        }
        @media screen and (max-width: 849px) {
            font-size: 35px;
        }
        @media screen and (max-width: 549px) {
            font-size: 30px;
        }
        @media screen and (max-width: 440px) {
            font-size: 26px;
        }
    }
    &__lead-text {
        font-size: 1.11em;
        margin-bottom: 80px;
        @media screen and (max-height: 949px) {
            margin-bottom: 8.4vh;
        }
        @media screen and (max-width: 1280px) {
            font-size: 18px;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 40px !important;
        }
        @media screen and (max-width: 549px) {
            font-size: 16px;
        }
    }
    &__descr {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -20px;
    }
    &__button {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        @media screen and (max-width: 549px) {
            flex-basis: calc(100% - 30px);
            max-width: calc(100% - 30px);
        }
    }
}

.ordering {
    padding: 6.67em 0 8.33em;
    @media screen and (max-width: 1024px) {
        padding: 100px 0;
    }
    @media screen and (max-width: 549px) {
        padding: 80px 0;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $background-color;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('ordering-bg.webp') center center/cover no-repeat;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__top {
        margin-bottom: 4.44em;
        @media screen and (max-width: 849px) {
            margin-bottom: 60px;
        }
    }
    &__chain {
        margin-bottom: 4.44em;
        @media screen and (max-width: 849px) {
            margin-bottom: 60px;
        }
    }
    &__title {
        font-size: 2em;  // 36px
        font-weight: 800;
        line-height: 1.2;
        color: $light;
        text-transform: uppercase;
        margin-bottom: 0.83em; 
        text-align: center;
        transition: .3s;
        @media screen and (max-width: 1280px) {
            font-size: 32px;
        }
        @media screen and (max-width: 849px) {
            font-size: 28px;
        }
        @media screen and (max-width: 549px) {
            font-size: 25px;
        }
        @media screen and (max-width: 440px) {
            font-size: 22px;
        }
    }
    &__subtitle {
        font-size: 1em;
        color: $grey;
        line-height: 1.2;
        text-align: center;
        @media screen and (max-width: 1024px) {
            font-size: 16px;
        }
    }
    &__form-btn {
        max-width: 24.66em;
        font-weight: 600;
        font-size: 0.83em;
        @media screen and (max-width: 1024px) {
            max-width: none;
        }
    }
}