.button {
    position: relative;
    display: inline-block;
    height: 3.31em;
    width: 100%;
    max-width: 14.08em;
    padding: 1.08em;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: none;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.72em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &__text {
        position: relative;
        z-index: 2;
    }
    &_primary {
        background-color: $primary-color;
        border-color: $light;
        color: $light;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -50px;
            bottom: 0;
            left: 0;
            border-right: 50px solid transparent;
            border-bottom: 80px solid $light;
            transform: translateX(-100%);
            transition: 0.5s ease-in-out;
        }
        &:hover {
            color: $dark-2;
            border-color: #6F6D7B;
            &::before {
                transform: translateX(0);
            }
        }
    }

    &_light {
        background-color: $primary-color;
        border-color: #6F6D7B;
        color: $dark-2;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -50px;
            bottom: 0;
            left: 0;
            border-right: 50px solid transparent;
            border-bottom: 80px solid $light;
            transform: translateX(0);
            transition: 0.5s ease-in-out;
        }
        &:hover {
            color: $light;
            border-color: $light;
            &::before {
                transform: translateX(-100%);
            }
        }
    }

    &_expand {
        max-width: 100%;
        width: 100% !important;
    }
}

